

          <form
          [formGroup]="formregistreclub" novalidate
          (ngSubmit)="agregandocliente(formregistreclub)"
          style="margin-bottom: 10px" class="formcart"
        >
        <div class="row">


          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Club</mat-label>
              <input type="text" matInput [(ngModel)]="validator.club" mask="99999999999999"
                 formControlName="club"
                     placeholder="24000011111111" >
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Cedula/Pasaporte</mat-label>
              <input type="text" matInput [(ngModel)]="validator.cedula"   mask="99999999999"   formControlName="cedula"
                     placeholder="Cedula sin guiones">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Code</mat-label>
              <input type="text" matInput [(ngModel)]="validator.code" formControlName="code"
               mask="A{9}" placeholder="V0000445A">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput [(ngModel)]="validator.nombre"
                  formControlName="nombre"
                     placeholder="Juan Alberto">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Apellido</mat-label>
              <input type="text" matInput [(ngModel)]="validator.apellido" formControlName="apellido"
                     placeholder="Perez Gomez">
                </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Telefono</mat-label>
              <input type="text" matInput [(ngModel)]="validator.telefono" mask="000-000-0000" formControlName="telefono"
                     placeholder="809-000-0000">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Celular</mat-label>
              <input type="text" matInput [(ngModel)]="validator.celular" mask="000-000-0000" formControlName="celular"
                     placeholder="809-000-0000">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Direccion</mat-label>
              <input type="text" matInput [(ngModel)]="validator.direccion" formControlName="direccion"
                     placeholder="Ave 27 de febrero">
                </mat-form-field>
          </div>

        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>Ciudad</mat-label>
              <input type="text" matInput [(ngModel)]="validator.ciudad" formControlName="ciudad"
                     placeholder="Santo Domingo">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-label>E-mail</mat-label>
              <input type="email" matInput [(ngModel)]="validator.email" formControlName="email"
                     placeholder="jperez@hotmail.com">
                </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select disableRipple [(ngModel)]="validator.status" formControlName="status">
                <mat-option value="1">Activo</mat-option>
                <mat-option value="2">Inactivo</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="fill">
              <mat-label>Tienda</mat-label>
              <mat-select disableRipple [(ngModel)]="validator.tienda" formControlName="tienda">
                <mat-option value="PL01">PL01 - Plaza Lama Duarte</mat-option>
                <mat-option value="2">Option 2</mat-option>
                <mat-option value="3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>



        </div>
        <div class="row">
          <div class="col-md-3 ml-md-auto">


            <div class="btn-group">
              <button pButton type="submit" label="Guardar" class="p-button-success" ><i class="pi pi-save" ></i>
              </button>
              <button pButton type="reset"   label="Limpiar" class="p-button-warning"><i class="pi pi-trash" ></i></button>
            </div>


          </div>

            </div>


        </form>
        <p-toast position="bottom-right"></p-toast>

